.root h1,
.root h2{
    font-weight: 200;
    margin-top:0;
}
.options {
    display: flex;
    flex:1;
}

.options > div {
    width: 33.33333333%;
    /*order: 1;*/
}
.options > div > div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.options a {
    display: block;
}

.info h1{
    margin: 0 0 20px 0;
}

.info .meta a{
    line-height: 1;
    color: #0098f7;
}
.info .meta {
    text-align: left;
    font-weight: 700;
    margin: 0;
    width: auto;
    font-size: 16px;
}
.info .meta tr td {
    text-align: left;
    vertical-align: top !important;
    padding: 5px 5px 5px 0;
}

.info .meta span {
    font-weight: 400;
}

.info .meta pre {
    margin: 0;
    white-space: pre-wrap;
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
    border: none;
    border-radius: 0;
    background: #f5f5f5;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    padding: 5px;
    vertical-align: top;
}

.description {
    margin: 20px 0 10px 0;
}
.code > label {
    font-size: 18px;
    text-transform: uppercase;
}
.code > pre {
    margin: 0
}
.root {
    position: relative;
}
.root .backLink{
    display: block;
}
.root .backLink a{
    color: #0098f7;
}

.search {
    position: absolute;
    top: 0;
    right:0;
}
.search input {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px 10px;
    outline: 0;
}
.search input:focus {
    background-color: #ffffff;
}